@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", sans-serif;
}

/* Hide scrollbar but allow scrolling */
.scrollbar-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
